.add-todo{
    input{
        width: 300px;
        line-height: 24px;
        border: 1px solid #ccc;
        margin-right: 20px;
    }
    button{
        width: 50px;
        line-height: 24px;
        text-align: center;
        border: 1px solid #ccc;
        cursor: pointer;
    }
}
.list__todo{
    padding: 0;
    margin: 20px 0;
    li{
        width: 370px;
        overflow: hidden;
        line-height: 26px;
        input{
            float: left;
            height: 24px;
        }
        label{
            float: left;
        }
        span{
            float: right;
            cursor: pointer;
        }
    }
}